.App {
    text-align: center;
    min-height: 100vh;
}

.center-wrapper {
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    min-height: 60vh;          /* or 80vh, whatever you like */
}

.MuiButton-root {
    text-transform: none !important;
}